:host {
    position: relative;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 5px 0px #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle {
    box-shadow: 0 0 5px 0px #808080;
    padding: 12px;
    justify-content: center;
    display: flex;
    background: #fff;
}

.autoscroll {
    overflow-y: auto;
}
