:host {
    display: block;
    position: relative;
    line-height: 40px;
    /*    &.selected {
        .title {
            background-color: rgb(242 243 245);
        }
    }*/
}

a {
    text-decoration: none;
    display: block;
    color: #000;

    &.active {
        background-color: rgb(242 243 245);
    }

    &:visited {
        color: #000;
    }
}

.title {
    cursor: pointer;
    border-bottom: 1px solid #eee;

    &:hover {
        background-color: rgb(242 243 245);
    }
}

.open {
    overflow: initial !important;
}

.close {
    overflow: hidden;
}

.toggle-button {
    position: absolute;
    top: 0;
    right: 10px;

    pano-icon {
        cursor: pointer;
    }
}
