$pano-alert-border-radius: 0.25rem;
$pano-alert-shadow: none;

$pano-alert-font-family: 'Open Sans, sans-serif';
$pano-alert-font-size: 0.9375rem;
$pano-alert-font-weight: 600;
$pano-alert-line-height: 1.5rem;
$pano-alert-padding: 1rem 1.125rem;

$pano-alert-close-padding: 1rem 1.125rem;
